.axis {
  font: 14px sans-serif;
}

.line {
  fill: none;
  stroke: orange;
  stroke-width: 2px;
}

.tooltip {
  opacity: .9; <!-- overwrite bootstrap -->
  position: absolute;
  width: 100px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  text-align: left;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
}